# ==========================================
# ENTORNO VIRTUAL
# ==========================================
venv/
venv_311/
env/
ENV/

# ==========================================
# PYTHON
# ==========================================
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
.eggs/

# ==========================================
# DJANGO
# ==========================================
*.log
db.sqlite3
db.sqlite3-journal
staticfiles/
media/

# ==========================================
# VARIABLES DE ENTORNO
# ==========================================
.env
.env.local
.env.*.local

# ==========================================
# VS CODE
# ==========================================
.vscode/
*.code-workspace

# ==========================================
# SISTEMA OPERATIVO
# ==========================================
.DS_Store
Thumbs.db
desktop.ini

# ==========================================
# IDE / EDITORES
# ==========================================
.idea/
*.swp
*.swo
*~

# ==========================================
# COMPRIMIDOS Y TEMPORALES
# ==========================================
*.zip
*.tar.gz
*.rar
*.bak