{% extends 'base.html' %}

{% block content %}
<h1 class="titulo">Listado de Ingredientes</h1>
<div class="derecha_boton">
    <div>
        <a href="{% url 'inventario:crear_ingrediente' %}" class="btn">Nuevo Ingrediente</a>
    </div>
</div>
<table class="tabla">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Unidad de Medida</th>
            <th>Costo Unitario</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for ingrediente in ingredientes %}
        <tr>
            <td>{{ ingrediente.nombre_ingrediente }}</td>
            <td>{{ ingrediente.unidad_medida }}</td>
            <td>{{ ingrediente.costo_unitario }}</td>
            <td>
                    {% if ingrediente.estado_ingrediente %}
                        <span class="estado-activo">Activo</span>
                    {% else %}
                        <span class="estado-inactivo">Inactivo</span>
                    {% endif %}
                </td>
            <td>
                <a href="{% url 'inventario:detalle_ingrediente' ingrediente.id %}" class="btn-tercero">Ver</a>
                <a href="{% url 'inventario:editar_ingrediente' ingrediente.pk %}" class="btn-warning">Editar</a>
                <a href="{% url 'inventario:eliminar_ingrediente' ingrediente.pk %}" class="btn-danger">Eliminar</a>
                <a href="{% url 'inventario:estado_ingrediente' ingrediente.pk %}" class="{% if ingrediente.estado_ingrediente %}estado_inactivar{% else %}estado_activar{% endif %}"> 
                        {% if ingrediente.estado_ingrediente %}Inactivar{% else %}Activar{% endif %}
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5" class="mensaje"><b>No hay ingredientes registrados</b></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}