{% extends 'base.html' %}

{% block content %}
<h1 class="titulo">Listado de Ingredientes</h1>
<div>
    <a href="{% url 'crear_ingrediente' %}" class="btn">Nuevo Ingrediente</a>
</div>
<table class="tabla">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Unidad de Medida</th>
            <th>Costo Unitario</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for ingrediente in ingredientes %}
        <tr>
            <td>{{ ingrediente.nombre }}</td>
            <td>{{ ingrediente.unidad_medida }}</td>
            <td>{{ ingrediente.costo_unitario }}</td>
            <td>
                <a href="{% url 'detalle_ingrediente' ingrediente.id %}" class="btn-tercero">Ver</a>
                <a href="{% url 'editar_ingrediente' ingrediente.pk %}" class="btn-warning">Editar</a>
                <a href="{% url 'eliminar_ingrediente' ingrediente.pk %}" class="btn-danger">Eliminar</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4" class="mensaje">No hay ingredientes registrados</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}