{% extends 'base_inventario.html' %}
{% block content %}
<h1 class="titulo">Editar Plato</h1>

<form method="POST">
    {% csrf_token %}
    <div class="form-grupo">
        <label class="form-label">Nombre</label>
        <input type="text" name="nombre" class="form-control" 
        pattern="[A-Za-zÁÉÍÓÚáéíóúÑñ\s]+"
        title="Solo permite letras y espacios"
        value="{{ plato.nombre_plato }}" required>
    </div>
    <div class="form-grupo">
        <label class="form-label">Precio</label>
        <input type="number" name="precio" class="form-control" step="0.01" value="{{ plato.precio_plato }}" required>
    </div>
    <div class="form-grupo">
        <label class="form-label">Categoría</label>
        <select name="categoria" class="form-control" required>
            {% for cat in categorias %}
                <option value="{{ cat.id }}" {% if cat.id == plato.categoria.id %}selected{% endif %}>
                    {{ cat.nombre_categoria_plato }}
                </option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
    <label class="form-label">Ingredientes</label>
    <div class="grid-ingredientes">
        {% for ing in ingredientes %}
            <label>
                <input type="checkbox" name="ingredientes" value="{{ ing.id }}" {% if ing in plato.ingredientes.all %}checked{% endif %}>
                {{ ing.nombre_ingrediente }}

            </label>
        {% endfor %}
    </div>
</div>
<!--         
        <button type="button" class="btn-secundario" id="agregar-ingrediente">Agregar otro ingrediente</button> -->
    
    <button type="submit" class="btn">Guardar Cambios</button>
    <a href="{% url 'inventario:listar_platos' %}" class="btn-secundario">Cancelar</a>
</form>
<!-- 

<script>
    var agregarBtn = document.getElementById('agregar-ingrediente');
    var container = document.getElementById('ingredientes-container');

    agregarBtn.addEventListener('click', function() {
        var nuevoItem = document.createElement('div');
        nuevoItem.className = 'ingrediente-item';
        nuevoItem.style.display = 'flex';
        nuevoItem.style.gap = '10px';
        nuevoItem.style.marginBottom = '10px';

        nuevoItem.innerHTML = `
            <select name="ingredientes" class="form-control" style="width: 70%;">
                {% for ing in ingredientes %}
                <option value="{{ ing.id }}">{{ ing.nombre }}</option>
                {% endfor %}
            </select>
            <input type="number" name="cantidad" class="form-control" min="1" value="1" style="width: 30%;">
        `;

        container.appendChild(nuevoItem);
    });
</script> -->
{% endblock %}