{% extends 'base.html' %}

{% block content %}
<h1 class="titulo">Listado de categorias</h1>
<div>
    <a href="{% url 'crear_categoria' %}" class="btn-primario">Crear Categoria</a>
</div>
<div>
    <table class="tabla">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for categoria in categorias %}
                <td>{{ categoria.nombre }}</td>
                <td>{{ categoria.descripcion }}</td>
                <td>
                    <a href="{% url 'detalle_categoria' categoria.id %}" class="btn-tercero">Ver</a>
                    <a href="{% url 'editar_categoria' categoria.id %}" class="btn-warning">Editar</a>
                    <a href="{% url 'eliminar_categoria' categoria.id %}" class="btn-danger">Eliminar</a>
                    
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3" class="mensaje">No hay categorías registradas.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}