    /* BARRA DE NAVEGACIÓN */
    .navbar {
        background-color: #1c517e;
        padding: 15px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .navbar-brand {
        color: white;
        text-decoration: none;
        font-size: 20px;
        font-weight: bold;
    }

    .navbar-links {
        display: flex;
        gap: 15px;
    }

    .navbar-links a {
        color: white;
        text-decoration: none;
    }

    .navbar-links a:hover {
        color: #42a7f9;
    }

    /*  CONTENEDOR PRINCIPAL*/
    .contenedor {
        padding: 20px;
        font-family: Arial, sans-serif;
    }

    /* TABLA */
    .tabla {
        border-collapse: collapse;
        width: 100%;
        margin-top: 20px;
    }

    .tabla th {
        background-color: #0f61d5;
        color: white;
        padding: 10px;
        text-align: left;
    }

    .tabla td {
        padding: 10px;
        border-bottom: 1px solid #ddd;
    }

    .tabla tr:hover {
        background-color: #f1f1f1;
    }
    /*BOTONES*/
    .btn-primario {
        background-color: #28a745;
        color: white;
        border-radius: 5px;
        padding: 10px 15px;
        text-decoration: none;
        display: inline-block;
        border: none;
        font-size: 14px;
        margin-top: 10px;
        margin-left: 5px;
    }

    .btn-primario:hover {
        background-color: #0d6b21; 
    }
    .btn {
        background-color: #49a64c;
        color: white;
        padding: 10px 15px;
        text-decoration: none;
        border-radius: 5px;
        border: none;
        font-size: 14px;
        margin-top: 10px;
    }

    .btn:hover {
        background-color: #0d6b21;
    }

    .btn-danger {
        background-color: #dc3545;
        border-radius: 5px;
        padding: 10px 15px;
        text-decoration: none;
        color: white;
        border: none;
        font-size: 14px;
    }

    .btn-danger:hover {
        background-color: #c82333;
    }

    .btn-warning {
        background-color: #ffc107;
        color: black;
        border-radius: 5px;
        padding: 10px 15px;
        text-decoration: none;
        border: none;
        font-size: 14px;
    }

    .btn-warning:hover {
        background-color: #f17c07cc;
    }

    .btn-secundario {
        background-color: #f81b1b;
        color: white;
        border-radius: 5px;
        padding: 10px 15px;
        text-decoration: none;   
        display: inline-block;   
        border: none;
        font-size: 14px;
        margin-top: 10px;
        margin-left: 5px;        
    }

    .btn-secundario:hover {
        background-color: #a31414;
    }

    .btn-tercero {
        background-color: #1ba7f8;
        color: white;
        border-radius: 5px;
        padding: 10px 15px;
        text-decoration: none;   
        display: inline-block;   
        border: none;
        font-size: 14px;
        margin-top: 10px;
        margin-left: 5px;        
    }

    .btn-tercero:hover {
        background-color: #025f98;
    }

    /*  FORMULARIOS  */
    .form-control {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 15px;
        font-size: 15px;
    }

    .form-label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
        font-size: 14px;
    }

    /* MESAJES  */
    .mensaje {
        background-color: #f8d7da;
        color: #721c24;
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 15px;
    }

    .mensaje-exito {
        background-color: #d4edda;
        color: #155724;
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 15px;
    }

    /*  TITULOS  */
    .titulo {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
        font-family: Arial, sans-serif;
    }