{% extends 'cargos/base_cargos.html' %}

{% block content %}
<div class="contenedor">
    <h1 class="titulo">{{ titulo }}</h1>

    <div class="derecha_boton">
        <a href="{% url 'empleados:empleado_listar' %}" class="btn btn-secundario">Empleados</a>
        <a href="{% url 'empleados:listar_permiso' %}" class="btn btn-secundario">Permisos</a>
        <a href="{% url 'empleados:crear_cargo' %}" class="btn-primario"> Nuevo Cargo</a>
        <a href="{% url 'empleados:asignar_permisos' %}" class="btn">Asignar Permisos</a>
    </div>

    <div class="table-container">
        <table class="tabla">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Nivel</th>
                    <th>Permisos</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for cargo in cargos %}
                <tr>
                    <td><strong>{{ cargo.nombre_cargo }}</strong></td>
                    <td>{{ cargo.descripcion|default:"-" }}</td>
                    <td>{{ cargo.nivel_acceso }}</td>
                    <td>
                        <a href="{% url 'empleados:ver_permisos_cargo' cargo.pk %}" class="btn-tercero">
                            Ver Permisos
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'empleados:editar_cargo' cargo.pk %}" class="btn-warning">Editar</a>
                        <a href="{% url 'empleados:eliminar_cargo' cargo.pk %}" class="btn-danger">Eliminar</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5" class="mensaje">No hay cargos registrados</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}